<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    
</head>
<body>
    <a href="/placement" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
        <a href="{% url 'home' %}"><img src="{% static 'main/image/CareerBoost.png' %}" height="65px" class="rounded mx-auto d-block" alt=""></a>
    </a>
    <hr>
    {% if user.is_authenticated %}
    <div class="text-center">
        <img src="{% static 'main/image/user_blank.png' %}" height="100px" width="100px" alt="" class="img-fluid rounded-circle mt-5">
        
        <div class="mt-2" ><h3 id="user_name">{{ user.first_name }} {{ user.last_name }}</h3></div>
    </div>
    {% endif %}
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link {{home}}" aria-current="page">
                <i class="fa fa-home pe-2" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li>
            <a href="/placement/newJobs" class="nav-link {{newJobs}}">
                <i class="fa fa-briefcase pe-2" aria-hidden="true"></i>
                New Jobs
            </a>
        </li>
        <li>
            <a href="/placement/savedCompany" class="nav-link {{savedCompany}}">
                <i class="fa fa-bookmark pe-2" aria-hidden="true"></i>
                Saved Companies
            </a>
        </li>
        <li>
            <a href="/placement/allCompany" class="nav-link {{allCom}}">
                <i class="fa fa-building pe-2" aria-hidden="true"></i>
                All Companies
            </a>
        </li>
        <li>
            <a href="/placement/addNew" class="nav-link {{addNew}}">
                <i class="fa fa-plus-square pe-2" aria-hidden="true"></i>
                Add New
            </a>
        </li>
    </ul>
    <hr>
    <div class="text-center">
            {% if user.is_authenticated %}
            <a class="btn btn-sm btn-dark" href="{% url 'user_profile' %}">Profile</a>
            <a class="btn btn-sm btn-dark ms-3" href="/user/logout">Log out</a>
            {% else %}
            <a class="btn btn-sm btn-dark" href="/user/login">Login</a>
            <a class="btn btn-sm btn-dark ms-3" href="/user/signup">Sign Up</a>
            {% endif %}
     
    </div>
    
</body>
</html>